<h1>Testing Delete Page</h1>
<div class="container">
  <div class="jumbotron">
    <h1>Hello, <%= @user.email %></h1>
    <h2>These are your definitions, you can delete them here:</h2>
  </div>
#want to show all of users definitions here + delete button
  <div class="panel panel-default">
    <% @user.words.each do |w|%>
    <div class="panel-heading">
      <h3 class="panel-title"><strong><%= w.word%></strong></h3>
        <span style="text-align:right;font-size:10px;">Created: <%= w.created_at.localtime.strftime("%A, %B %-d, %Y at %l:%M %p")%></span>
    </div>
    </div>
    <div class="panel-body">
      <% w.definitions.each do |d|%>
      <%= d.definition%>
      <%end%>
      <%end%>
      </div>

  <%# render 'form_definition' %>
</div>

<%= @user.f_name %>
