<h1><%= @word.word %> <%= @word.date_published %></h1>
  <h2><b>User Name:</b> <%= @user.email %></h2>
  <p><b>Defintion:</b> <%= @definition.definition %></p>
  <p><b>Vote Up:</b> <%= @definition.vote_up%></p>
  <p><b>Vote Down:</b> <%= @definition.vote_down%></p>
  <br>
