<!DOCTYPE html>
<html>
<head>
  <title>Rural Dictionary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <!-- NAVIGATION BAR WILL GO HERE -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Rural Dictionary</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "New Definition", new_word_path%><span class="sr-only">(current)</span></li>
        <li class="active"><%= link_to "All Defintions", words_path%><span class="sr-only">(current)</span></li>
        <%if current_user%>
        <li class="active"><%= link_to 'My Definitions', user_path(current_user) %><span class="sr-only">(current)</span></li>
        <% end %>
      </ul>



      <div class="" style="text-align:right">

        <%= form_tag sessions_path do %>
        <% if current_user %>
        <p style="font-size:10px;"> Welcome, <%= current_user.email %>, you are signed-in.</p>
        <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% else %>
        <%= link_to 'Create New Account', new_user_path %>
        <%= render 'partials/login' %>
        <% end %>
        <% end %>
      </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
  </nav>
<%= yield %>
<!-- FOOTER WILL GO HERE-->
</div>
</body>
</html>
